body {
  background-color: #fad9e6;
}

h1,
p {
  text-align: center;
}

h1 {
  margin-top: 25px;
}

p {
  font-size: 14px;
}

.links {
  text-align: center;
}

.links a {
  margin: 0 10px;
  color: #0e3eda;
  font-size: 15px;
  font-weight: 400;
}

.photo {
  max-width: 60%;
  display: block;
  margin: 0 auto;
}

.email {
  color: #0e3eda;
  font-weight: 500;
}
